.header{
    background-color: rgb(96, 150, 221);
    width: 100%;
    position: relative;
    padding: 1% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "General Sans Regular";
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    font-weight: 100;
}